.panels {
    /* ie11 */
    float: left;
    width: 75%;
    overflow: hidden;
    margin: 10px 0 10px 10px;

    @supports (display: grid) {
        float: none;
        width: unset;
        display: grid;
        grid-gap: 10px;
        /* this automatically fills available space with all panels that are supposed to show, with a min width of 100px */
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));

        @media screen and (max-width: $grid-breakpoints-lg) {
            grid-template-columns: 1fr;
            margin-right: 10px;
        }
    }
}

@media screen and (max-width: $grid-breakpoints-md) {
    /* ie11 */
    .panels {
        width: 95%;
    }
    @supports (display: grid) {
        .panels {
            width: unset
        }
    }
}
