.users {
    overflow-y: scroll;
    height: calc(100vh - $application-header-height);

    @supports (display: grid) {
        display: grid;
        grid-template-columns: 3fr 1fr;
    }

    /* to have padding surrounding just the listview - not including the sidebar */
    .page_with_sidebar_container {
        padding: 2.6rem 1rem 0;

        button {
            margin: 0 3.5rem 1.5rem 0;
        }
    }
}
