.tab {
    /*padding: 0 .5rem;*/

    section {
        color: $blue;
        outline: none;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &:hover {
            cursor: pointer;
        }

        figure {
            font-size: 1.5rem;
        }

        span {
            clear: both;
        }
    }
}
