.organisations {
    @supports (display: grid) {
        overflow: hidden;
        display: grid;
        grid-template-rows: $organisations-path-height 1fr;
    }
}

/* todo: missing ie11 styles here? */
.panels_container {
    @supports (display: grid) {
        overflow: hidden;
        display: grid;
        grid-template-columns: 3fr 1fr;

        @media screen and (max-width: $grid-breakpoints-lg) {
            grid-template-columns: 1fr;
        }
    }
}

/* the container for the modal-background and -modal. it should be specific per modal and per page, so leave it here */
.modal_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
