.organisations {
    @supports (display: grid) {
        overflow: hidden;
        display: grid;
        grid-template-rows: 30px 1fr;
    }
}

/* there was a need to have a parent wrapping container to be able to include the path component here */
/* todo: missing ie11 styles here? */
.panels_container {
    @supports (display: grid) {
        overflow: hidden;
        display: grid;
        grid-template-columns: 3fr 1fr;

        @media screen and (max-width: 960px) {
            grid-template-columns: 1fr;
        }
    }
}

/* todo: extract to separate component */
.path {
    overflow: hidden;
    margin: 10px 10px 0;

    p {
        white-space: nowrap;s
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 12px;
    }
}

/* todo: is this used? test! */
.modal_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
