.organisations {
    @supports (display: grid) {
        overflow: hidden;
        display: grid;
        grid-template-rows: 30px 1fr;
    }
}

/* todo: missing ie11 styles here? */
.panels_container {
    @supports (display: grid) {
        overflow: hidden;
        display: grid;
        grid-template-columns: 3fr 1fr;

        /* todo: extract breakpoint to var */
        @media screen and (max-width: 960px) {
            grid-template-columns: 1fr;
        }
    }
}

/* this is the container for the background that goes behind the modals */
/* todo: as such it should be made global or part of the modal styling at least */
.modal_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
