.background {

    .form {
        position: relative;
        margin: auto;
        width: 50%;
        background: #fff;
        opacity: 1;
        box-shadow: 5px 10px 0 #aaa;
        border: solid 1px #333;
        margin-top: 2rem;

        form {
            width: 200px;
            display: block;
            padding: 2rem;
        }
    }
}
