.background {
    width: 100%;
    height: 100%;
    background-color: $black;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .5;
    z-index: $z-index-modal-back;

    @media screen and (max-width: $grid-breakpoints-md) {
        opacity: 0;
    }
}

.errorMessage {
    color: $signal-red;
    display: block;
    font-size: .9rem;
    line-height: 1.5rem;
}

// @todo: cleanup
select:not([type='checkbox']):not([type='radio']) {
    width: 100%;
    background-color: #edece8;
    box-shadow: 0 1px 1px rgba(0,0,0,.075) inset;
    height: 30px;
    border-radius: unset;
    border: 0;
    min-height: 30px;
    padding: 5px 10px;
    margin: 5px 0;
    font: inherit;
    font-size: .75rem;
    line-height: inherit;
    text-transform: none;
    color: inherit;
    box-sizing: inherit;
    -webkit-appearance: menulist;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    cursor: default;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-indent: 0;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-writing-mode: horizontal-tb !important;
    -webkit-tap-highlight-color: transparent;
}

textarea {
    z-index: auto;
    position: relative;
    font: inherit;
    line-height: 18px;
    font-size: 12px;
    transition: none;
    background: #edece8 !important;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,.075) inset;
    border-radius: unset;
    border: 0;
    min-height: 30px;
    padding: 5px 10px;
    margin: 5px 0;
    resize: vertical;
    overflow: auto;
    color: inherit;
    box-sizing: inherit;
    -webkit-appearance: textarea;
    -webkit-rtl-ordering: logical;
    flex-direction: column;
    cursor: text;
    white-space: pre-wrap;
    word-wrap: break-word;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-writing-mode: horizontal-tb !important;
    -webkit-tap-highlight-color: transparent;
}

