.background {
    width: 100%;
    height: 100%;
    background-color: $black;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .5;
    z-index: $z-index-modal-back;

    @media screen and (max-width: $grid-breakpoints-md) {
        opacity: 0;
    }
}

.errorMessage {
    color: $signal-red;
    display: block;
    font-size: .9rem;
    line-height: 1.5rem;
}
