textarea {
  z-index: auto;
  position: relative;
  font: inherit;
  line-height: 18px;
  font-size: 12px;
  transition: none;
  background: #edece8 !important;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0,0,0,.075) inset;
  border-radius: unset;
  border: 0;
  min-height: 30px;
  padding: 5px 10px;
  margin: 5px 0;
  resize: vertical;
  overflow: auto;
  color: inherit;
  box-sizing: inherit;
  -webkit-appearance: textarea;
  -webkit-rtl-ordering: logical;
  flex-direction: column;
  cursor: text;
  white-space: pre-wrap;
  word-wrap: break-word;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  -webkit-writing-mode: horizontal-tb !important;
  -webkit-tap-highlight-color: transparent;
}
