.competencyProfile {
    h2 {
        color: $white;
        font-weight: 700;
        line-height: 2.5rem;
        padding: 0 1rem;
    }

    background: $blue-green-gradient;
    padding: 1rem 2.75rem !important;

    /* smaller padding on smaller screens */
    @media screen and (max-width: $grid-breakpoints-lg) {
        padding: 1rem !important;
    }
}
