@import './someimport.scss';

.bar {

}

.example {
    color: $green;
    font-size: 15px;

    button {
        background: $green;
        color: $white;
        font-size: $test-var;
        padding: 10px;
        margin: 20px;
        box-shadow: $black;
        border-radius: 10px;
    }
}

@keyframes move{
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 50px 50px;
    }
}
