{
    "presets": [
        "stage-0", // this is necessary to compile the rest spread operator (...rest)
        [
            "env",
            {
                "modules": "commonjs",
                "useBuiltIns": "entry",
                "targets": {
                    "browsers": [
                        "last 2 Chrome versions"
                    ]
                }
            }
        ],
        [
            "preact"
        ]
    ]
}
