{
    "presets": [
        [
            "@babel/preset-env",
            {
                "modules": "commonjs",
                "useBuiltIns": "entry",
                "targets": {
                    "chrome": "58",
                    "firefox": "54",
                    "ie": "11",
                    "safari": "10",
                    "opera": "44",
                    "edge": "16"
                }
            }
        ],
        [
            "preact"
        ]
    ],
    "plugins": [
        "@babel/plugin-syntax-dynamic-import"
    ]
}
