.indicator {
    background: $beige;

    @media screen and (max-width: $grid-breakpoints-lg) {
        display: none;
    }

    svg {
        position: absolute;
        height: 10px;
        width: 33px;
        top: 60px;

        path:first-child {
            fill: $beige;
        }

        path:last-child {
            fill: $white;
        }
    }
}
