.add_button {
    height: 30px;
    border-bottom: solid 1px #eee;

    > button {
        color: #90c2dd;
        float: right;
        height: 100%;
        border: 0;
        background: #fff;
        font-size: .8rem;
        margin-right: 3px;

        &:hover {
            cursor: pointer;
        }
    }
}
