.action_button {
    background: $blue;
    float: right;
    text-align: left;
    color: $white;
    border: 0;
    font-family: $fontsmall;
    display: inline-block;
    font-weight: bold;
    vertical-align: middle;
    cursor: pointer;
    padding: .375rem 1rem;
    font-size: 16px;
    line-height: 1.5;
    border-radius: $border-radius-small;
    margin: .15rem;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
        background-color: $blue-lighten;
    }

    /* light version of the generic button */
    &.action_button__secondary {
        background: $white;
        color: $brown;
        border: solid 1px $beige-darken;

        &:hover {
            background-color: $beige-darken;
        }

        &.wide {
            width: 100%;
        }

        &.left {
            float: left;
        }
    }

    /* light version of the generic button with a darker hover style */
    &.light_with_dark_hover {
        box-shadow: 0 2px 1px 0 $blue-darken;
        background: $white;
        border: 0;
        color: $blue;

        &:hover,
        &:hover svg {
            background-color: $blue-darken;
            color: $white;
        }
    }

    &.disabled {
        opacity: .5;
    }
}

button {
    &:disabled {
        opacity: .5;
    }
}
