.listitem__items {
    list-style-type: none;
    white-space: nowrap;
    width: 100%;
}

.list_item {
    /* is this used? */
    background: #000;
    cursor: pointer;
    color: #fff;
}

.icon {
    margin: 7px 12px -15px 0;
    float: left;
}

.name_container {
    display: grid;
    align-items: center;
    padding: 0;
    margin: 0 0 0 45px;
    height: 50px;
    position: absolute;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 75%;

    > div {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

        .title {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .subtitle {
            color: #666;
            font-size: .7rem;
            font-weight: normal;
            display: block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
  }
}

.button_show_detailpanel {
    height: 50px;
    float: right;

    span {
        float: right;
        font-size: 20px;
    }
}
