.header {
    overflow: hidden;
    /* position: fixed; <-- only on  mobile? */
    top: 0;
    height: 60px;
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 1px 1px 0 #edece8;

    figure {
        float: left;
        width: 50px;
        height: 50px;
        background: url('/web/assets/images/logo-ltp-rgb.svg');
    }
}

.indicator {
    background: #edece8;

    svg {
        position: absolute;
        height: 10px;
        width: 33px;
        top: 60px;
        left: 190px;

        path:first-child {
            fill: #edece8;
        }

        path:last-child {
            fill: #fff;
        }
    }
}


.bar {
    margin: 0 !important;
    position: absolute;
    top: 0;
    left: 0;
    height: 5px;
    width: 100%;
    background-color: #d3d3d3;
    box-sizing: border-box;
    background-image: linear-gradient(
            -45deg,
            rgba(255, 255, 255, 1) 25%,
            transparent 25%,
            transparent 50%,
            rgba(255, 255, 255, 1) 50%,
            rgba(255, 255, 255, 1) 75%,
            transparent 75%,
            transparent
    );
    background-size: 50px 50px;
    animation: move 2s linear infinite;
    overflow: hidden;
    display: none;

    &.visible {
        /* todo: this is malformed by css modules thus adding this class by JS wont work. fix it. */
        display: inline-block;
    }
}
