.header {
    overflow: hidden;
    /* position: fixed; <-- todo: only on  mobile? */
    top: 0;
    height: 60px;
    background: $white none repeat scroll 0 0;
    box-shadow: 0 1px 1px 0 $beige;

    figure {
        float: left;
        width: 50px;
        height: 50px;
        background: url('/web/assets/images/logo-ltp-rgb.svg');
    }
}

.indicator {
    background: $beige;

    @media screen and (max-width: 960px) {
        display: none;
    }

    svg {
        position: absolute;
        height: 10px;
        width: 33px;
        top: 60px;
        left: 190px;

        path:first-child {
            fill: $beige;
        }

        path:last-child {
            fill: $white;
        }
    }
}

.alert {
    background: $red;
    color: $white;
    width: 100%;
    position: absolute;
    top: 55px;
    height: 1.2rem;
    line-height: 1.2rem;
    font-size: .7rem;
    padding: 0 1rem;
    text-align: left;
    font-family: $fontsmall;
    font-weight: 300;
    letter-spacing: .1mm;
}
