.header {
    overflow: hidden;
    /* position: fixed; <-- todo: only on  mobile? */
    top: 0;
    height: 60px;
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 1px 1px 0 #edece8;

    figure {
        float: left;
        width: 50px;
        height: 50px;
        background: url('/web/assets/images/logo-ltp-rgb.svg');
    }
}

.indicator {
    background: #edece8;

    @media screen and (max-width: 960px) {
        display: none;
    }

    svg {
        position: absolute;
        height: 10px;
        width: 33px;
        top: 60px;
        left: 190px;

        path:first-child {
            fill: #edece8;
        }

        path:last-child {
            fill: #fff;
        }
    }
}
