$detailpanel-margin: 10px;

.detailpanel {
    background: $white;
    color: $white;
    font-weight: bold;
    font-size: 20px;
    margin: $detailpanel-margin;
    box-sizing: content-box;
    border-radius: $border-radius-regular;

    /* ie11 */
    float: left;
    width: 20%;
    height: calc(100vh - 120px);
    min-width: unset;

    @supports (display: grid) {
        float: none;
        width: unset;
        height: unset;

        /* can be omitted if not important */
        min-width: $grid-breakpoints-sm;
    }

    header {
        background: $blue;
        border-radius: $border-radius-regular $border-radius-regular 0 0;
        height: $detailpanel-header-height;
        padding: 10px;
        box-sizing: border-box;

        @media screen and (max-width: $grid-breakpoints-lg) {
            border-radius: 0;
        }

        /* only in desktop view and when css grid is supported, can you maximise the detail panel */
        .button_fullwidth_detailpanel {
            display: none;

            @supports (display: grid) {
                display: block;
                cursor: pointer;
                text-align: left;

                @media screen and (max-width: $grid-breakpoints-lg) {
                    display: none;
                }
            }
        }

        h2 {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            text-align: center;
            color: $beige-lighten;
        }
    }

    nav {
        background: $blue;
        height: $detailpanel-nav-height;
        padding: 0 10px;
        font-size: .8rem;
        text-align: center;

        span {
            margin: 0 10px;
            text-decoration: none;
            color: $black;
        }
    }

    main {
        /* the height of the content part of the detail panel is calculated as follows: */
        height: calc(100vh - calc($application-header-height + $organisations-path-height + $detailpanel-margin + $detailpanel-header-height + $detailpanel-nav-height + $detailpanel-margin));
    }

    .detailpanel_divider {
        background: $beige-darken;
        margin: 20px 0;
        font-size: .8rem;
        padding: .5rem;
        display: block;
    }

    @media screen and (max-width: $grid-breakpoints-lg) {
        margin: 0;
        min-width: unset;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }

    @media screen and (min-width: $grid-breakpoints-lg) {
        display: block !important;
    }

    p {
        color: $black;
        text-align: left;
        font-size: 1rem;
        font-weight: normal;
    }
}

/*
.button_show_detailpanel {
      only show the show detailpanel button on responsive views
    display: none;
    float: right;
    margin: 9px 0;
    color: $beige-darken;
    font-size: 1rem;
    height: 1rem;

    @media screen and (max-width: 960px) {
        display: inline-block;
    }
}
*/

.button_hide_detailpanel {
    /*  only show the hide detailpanel button on responsive views */
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;

    &:hover {
        cursor: pointer;
    }

    @media screen and (max-width: $grid-breakpoints-lg) {
        display: block;
    }
}

.spinner_container {
    position: relative;

    /* hide spinner on small viewports todo: does this still work? */
    @media screen and (min-width: $grid-breakpoints-lg) {
        // display: block;
    }
}

.spinner {
    position: absolute;
    top: .25rem;
    right: -.75rem;

    svg {
        padding: 0 1rem;
        font-size: 1.5rem;
        color: $white;
        animation-name: spinner;
        animation-duration: 4s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }
}

/* todo: figure out how this can be linted okay, see: https://github.com/stylelint/stylelint/issues/1513 */
@keyframes spinner {
0 {
    transform: rotate(0deg);
}

100% {
       transform: rotate(360deg);
   }
}
