.terms {

}

.footer {
    position: fixed;
    bottom: 0;
    height: 20%;
    background: $white;
    width: 100%;
}

.footerControls {
    width: 50%;
    margin: 0 auto;
    padding-top: 20px;
}

.action_button {
    /* float: none; */
}
