.errorMessage {
    color: $red;
    display: block;
    font-size: .9rem;
    line-height: 1.5rem;
}

.fieldGroup {
    @supports (display: grid) {
        overflow: hidden;
        display: grid;
        grid-template-columns: 4fr 8fr;
    }

    label {
        margin-bottom: 0;
        padding: .5rem 0;
        font-family: 'museo-sans', sans-serif;
        display: inline-block;
        box-sizing: inherit;
        cursor: default;
        font-size: 16px;
        line-height: 1.5;
        color: #3c2f1e;
        -webkit-tap-highlight-color: transparent;
    }
}
