.inbox {
    padding: 1rem;
}

.messages {
    > li {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}

.message {
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: solid 1px $beige-darken;
    display: inline-block;
}

.participantsSummary {
    width: 100%;

    @media screen and (min-width: $grid-breakpoints-lg) {
        width: 50%;
        float: left;
    }

    h3 {
        color: $orange;
    }
}

.participantsData {
    width: 100%;

    @media screen and (min-width: $grid-breakpoints-lg) {
        width: 50%;
        float: left;
    }

    h4 {
        padding: 1rem 0;

        @media screen and (min-width: $grid-breakpoints-lg) {
            padding: 0 1rem 1rem;
        }
    }

}

.participantsAction {
    text-align: left;
    float: left;
    display: inline-block;
    width: 100%;

    > a {
        float: left;
    }

    @media screen and (min-width: $grid-breakpoints-lg) {
        width: 50%;
        float: right;
        text-align: right;

        > a {
            float: right;
        }
    }
}

