.listitem {
    list-style-type: none;
    white-space: nowrap;
    width: 100%;

    > li {
        float: left;

        &:first-child {

            /* icon */
            font-size: 2rem;
            margin: 7px 12px -15px 0;
        }

        &:last-child {

            /* view details */
            font-size: 2rem;
            display: none;
            height: 50px;
            float: right;
            color: $beige-darken;
            z-index: 2;
            position: absolute;
            right: .5rem;
            top: .5rem;

            @media screen and (max-width: $grid-breakpoints-lg) {
                display: inline-block;
            }
        }
    }
}

.listitem_properties {
    display: grid;
    align-items: center;
    padding: 0;
    margin: 0 0 0 45px;
    height: 50px;
    position: absolute;
    /*white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;*/
    width: 75%;

    > div {
        white-space: nowrap;
        text-overflow: ellipsis;

        /* overflow should be hidden to allow ellipsis but it will break finding text in firefox */
        overflow: hidden;
    }

    .title {
        /*white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;*/
        font-size: 1rem;
    }

    .subtitle {
        color: $medium-brown;
        font-size: .7rem;
        font-weight: normal;
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    @media screen and (max-width: $grid-breakpoints-lg) {
        width: 70%;
    }
}

.gradient {
    background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 30%,rgba(255,255,255,1) 99%);
    width: 100px;
    height: 50px;
    right: 0;
    float: right;
    position: absolute;
    z-index: 1;
}
