.listitem {
    list-style-type: none;
    white-space: nowrap;
    width: 100%;

    > li {
        float: left;

        &:first-child {

            /* icon */
            font-size: 2rem;
            margin: 7px 12px -15px 0;
        }

        &:last-child {

            /* view details */
            font-size: 2rem;
            display: none;
            height: 50px;
            float: right;
            color: $beige-darken;

            @media screen and (max-width: $grid-breakpoints-lg) {
                display: inline-block;
            }
        }
    }
}

.listitem_properties {
    display: grid;
    align-items: center;
    padding: 0;
    margin: 0 0 0 45px;
    height: 50px;
    position: absolute;
    width: 75%;

    > div {
        white-space: nowrap;
    }

    .title {
        font-size: 1rem;
        text-overflow: ellipsis;

        /* overflow should be hidden to allow ellipsis (but it will break finding text in firefox!) */
        overflow: hidden;

        /* therefore this uncommon property is used for firefox which does allow the text to be indexed */

        /* stylelint-disable */
        overflow: -moz-hidden-unscrollable;
        /* stylelint-enable */
    }

    .subtitle {
        color: $medium-brown;
        font-size: .7rem;
        font-weight: normal;
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    @media screen and (max-width: $grid-breakpoints-lg) {
        width: 70%;
    }
}
