.report {
    overflow-y: scroll;

    /* to account for the padding inside this element, subtract 2rem for padding top and bottom */
    height: calc(100vh - $application-header-height - 2rem);

    /* todo: this is because there are child widgets that should be full width. Maybe we should reconsider later */
    > section > section {
        padding: 1rem 3.75rem;

        /* smaller padding on smaller screens */
        @media screen and (max-width: $grid-breakpoints-lg) {
            padding: 1rem 2rem;
        }
    }

    @supports (display: grid) {
        display: grid;
        grid-template-columns: 3fr 1fr;
    }

    .page_with_sidebar_container {
        z-index: $z-index-application-top;

        /* smaller padding on smaller screens */
        @media screen and (max-width: $grid-breakpoints-lg) {
            padding: 0;
        }
    }
}
