.competencyType {
    padding: .1rem;
}

.global {
    background: $black;
    color: $white;
    font-size: .5rem;
    padding: .25rem;
    font-weight: 700;
    border-radius: .25rem;
    box-shadow: 0 1px 1px 0 $brown;
}
