/* the element in which the app is rendered */
#layout {
    margin: 0;
    display: grid;
    grid-template-rows: $application-header-height 1fr;
    overflow: hidden;
    height: 100vh;
    background: $beige;
    font-size: 16px;
}
