.clear {
    clear: both;
}

/* actually please do not use this. use hidden instead */
.visible {
    display: inline-block;
}

/* generic helper class to hide elements in the UI */
.hidden {
    display: none;
}

/* helper class that is added by Javascript on the panels_container to ensure the layout only renders a single fr */
.single_fragment {
    grid-template-columns: 1fr;
}

/* todo: thanks to css modules we cannot have this inside the alert component. not fun. find another way to do this: */
.alert_message {
    background-image: linear-gradient(45deg, $green 25%, $green-darken 25%, $green-darken 50%, $green 50%, $green 75%, $green-darken 75%);
}

.alert_warning {
    background-image: linear-gradient(45deg, $orange 25%, $orange-darken 25%, $orange-darken 50%, $orange 50%, $orange 75%, $orange-darken 75%);
}

.alert_error {
    background-image: linear-gradient(45deg, $red 25%, $red-darken 25%, $red-darken 50%, $red 50%, $red 75%, $red-darken 75%);
}

.modal_button {
    background: $blue;
    float: right;
    text-align: right;
    color: $white;
    border: 0;
    font-family: $fontsmall;
    display: inline-block;
    font-weight: bold;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    padding: .375rem 1rem;
    font-size: 16px;
    line-height: 1.5;
    border-radius: .25rem;
    margin: .15rem;


    &:hover {
        background-color: $blue-lighten;
    }

    &.modal_button__secondary {
        background: $white;
        color: $brown;
        border: solid 1px $beige-darken;

        &:hover {
            background-color: $beige-darken;
        }
    }
}


