
/* contains dynamically added classes (ie lifecycle methods, javascript) to define or extend default visualisations */

/* just a little helper to clear floats */
.clear {
    clear: both;
}

/* used to hide elements in the UI */
.hidden {
    display: none;
}

/* added by Javascript on the panels_container to ensure the layout only renders a single fr in responsive views */
.single_fragment {
    grid-template-columns: 1fr;
}

/* colours for alerts */
.alert_message {
    background: $green-bright-darken;
}

.alert_warning {
    background: $orange;
}

.alert_error {
    background: $red;
}

/* different styling (colour) for active navigation node */
#layout header nav li.active a,
#layout header nav li.active span {
    color: $brown;
}

/* ensure the label for the active navigation node remains visible on all but smallest views */
#layout header nav li.active a span {
    @media screen and (max-width: $grid-breakpoints-lg) {
        display: inline;
    }

    @media screen and (max-width: $grid-breakpoints-md) {
        display: none;
    }
}

/* active panels in organisation view when below responsive breakpoint */
@media screen and (max-width: $grid-breakpoints-lg) {
    #panels > section.active {
        display: block;
    }
}

/* active list items in organisations view */
.list_item__active {
    background: $black;
    color: $white;
}

/* hide these listview th's and td's on participant overview */
table thead th.assessmentdate,
table td.assessmentdate,
table thead th.consultant,
table td.consultant,
table thead th.organisation,
table td.organisation {
    display: none;

    @media screen and (min-width: $grid-breakpoints-lg) {
        display: table-cell;
    }
}

#detail_panel_navigation > ul > li.active span {
    color: $white;
}

/* arrow on toggle button is reversed when detail panel is in full-width mode */
#panels_container.single_fragment #detailpanel header span:last-of-type {
    transform: rotate(180deg);
}

/* buttons dont need to float here (in fact I would remove the float in total and add it to the modal style */
#listview .action_button {
    float: left;
}

/* ensure active tab is coloured different from the others */
#sidebar header section.active {
    color: $white;
}

/* ensure active content tab is visible in sidebar */
#sidebar main section.active {
    display: block;
}

/* some specifics to allow toggling the sidebar on listviews (and report?) */
#page_with_sidebar:not(.full_width_sidebar) {
    #page_with_sidebar_container {
        display: block;
    }

    /* on views where sidebar is hidden, the sidebar becomes a very small clickable box to enlarge it again */
    #sidebar {
        width: $sidebar-collapsed-dimensions;
        height: $sidebar-collapsed-dimensions;
        box-shadow: 10px 40px 30px -2px #000;

        /* on views where sidebar is hidden, rotate the toggle arrow */
        #sidebar_toggle {
            transform: rotate(180deg);
        }

        /* on views where sidebar is hidden, hide tabs, content and indicator */
        nav,
        main,
        #sidebar_indicator {
            display: none;
        }
    }
}

/* on responsive views where sidebar is shown, ensure sidebar takes up entire screen width */
@media screen and (max-width: $grid-breakpoints-lg) {
    #page_with_sidebar.full_width_sidebar {
        #page_with_sidebar_container {
            display: none;
        }

        #sidebar {
            width: 100%;
        }
    }
}

/* on views where sidebar is hidden, ensure listview container takes up entire screen width */
#page_with_sidebar:not(.full_width_sidebar) {
    grid-template-columns: 1fr;
}

/* on the users page the button to add a user should have some margin when the sidebar is active */
.full_width_sidebar #page_with_sidebar_container button {
    margin-right: 0;
}
