/* these should be placed in some other .scss.. but how to call it? common? resets? */
* {
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

/* the element in which the app is rendered */

#layout {
    margin: 0;
    display: grid;
    grid-template-rows: 70px 1fr;
    overflow: hidden;
    height: 100vh;
    background: #edece8;
    font-family: Arial;
    font-size: 16px;
}
