.staticScore {
    background: $white;
    border-radius: 5px;
    margin-top: 2.5rem;
    padding: 20px 15px;

    h3 {
        color: $orange;
        margin-bottom: .5rem;

        @media screen and (max-width: $grid-breakpoints-lg) {
            text-align: center;
        }
    }

    p {
        margin-bottom: 1rem;
    }

    > section {
        width: 50%;
        float: left;
        position: relative;

        @media screen and (max-width: $grid-breakpoints-lg) {
            width: 100%;
        }
    }
}

/* this is used as a fix for setting parent height of position relative children */
.staticScore:after {
    content: ' ';
    display: block;
    height: 0;
    clear: both;
}

.textContainer {
    right: 50%;

    @media screen and (max-width: $grid-breakpoints-lg) {
        right: unset;
    }
}

.scoreContainer {
    left: 50%;
    vertical-align: top;

    @media screen and (max-width: $grid-breakpoints-lg) {
        left: unset;
        margin-top: 1rem;
        margin-bottom: 2.5rem;
    }
}

.footerVisible {
    border-bottom-left-radius: unset;
    border-bottom-right-radius: unset;
}

.footer {
    padding: 1.25rem .5rem;
    background: $blue-darken;
    border-radius: 0 0 5px 5px;

    @supports (display: grid) {
        float: none;
        width: unset;
        display: grid;
        grid-gap: 1rem;

        /* this automatically fills available space with all columns that are supposed to show, with a min width of 100px */
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));

        @media screen and (max-width: $grid-breakpoints-lg) {
            grid-template-columns: 1fr;
            grid-gap: 0;
        }
    }

    table {
        vertical-align: top;
        border-top: 2px solid $blue;
        border-collapse: collapse;

        tbody {
            display: table;
            width: 100%;
        }

        tr {
            border-bottom: 2px solid $blue;
        }

        td {
            font-weight: normal;
            color: $white;
            padding: .5rem 5px;
            text-align: left;
            vertical-align: top;
            line-height: 1.5rem;
        }

        /* align tables vertically on small screens */
        @media screen and (max-width: $grid-breakpoints-lg) {
            width: 100%;
        }
    }

    /* hide border bottom from all last table rows except for the last table */
    table:not(:last-child) {
        @media screen and (max-width: $grid-breakpoints-lg) {
            tr:last-child {
                border-bottom: unset;
            }
        }
    }
}
