/* some overloads were needed because the form doesnt look exactly like the modals */
.resetpassword {
    background: $blue;
    height: 100vh;

    form {
        box-shadow: none;
        max-width: 690px;
    }
}

/* todo: remove this once persona fit app integration will be refactored */
.personaFitApp{
    background: $persona-fit-app-bg;
    button {
        background: $persona-fit-app-bg;
    }
}

.margin {
    margin-top: 100px;
}

.modal {
    overflow: hidden;
}
