.competency {
    margin: 1rem;

    /* note that to account for the margin, subtract it 2 times from the width (for left+right) */

    width: calc(100% - 2rem);

    @media screen and (min-width: $grid-breakpoints-md) {
        width: calc(50% - 2rem);
    }

    @media screen and (min-width: $grid-breakpoints-lg) {
        width: calc(33.3% - 2rem);
    }

    @media screen and (min-width: $grid-breakpoints-xl) {
        width: calc(25% - 2rem);
    }

    @media screen and (min-width: $grid-breakpoints-xxl) {
        width: calc(20% - 2rem);
    }

    display: inline-block;
    vertical-align: top;
    background: $white;
    border-radius: $border-radius-regular;
    box-sizing: border-box;

    header {
        padding: 1rem;

        h3 {
            margin: 0;
            color: $brown;
            font-size: 3rem;
            text-align: center;
            font-family: $fontsmall;
            font-weight: normal;
            line-height: 3rem;
            padding: .5rem 0 0;
        }
    }

    article {
        padding: 5px;
        border-radius: 0 0 5px 5px;
        background-color: $blue-darken;
        display: block;

        p {
            color: $brown;
            padding: .75rem;
        }
    }
}

.title_container {
    height: 3.8rem;

    h2 {
        font-family: $fontheavy;
        font-weight: bold;
        font-size: 1.5rem;
        line-height: inherit;
        margin: 0;
        color: $brown;
        text-align: center;
        height: 100%;
        overflow: hidden;
        text-overflow: ellipsis;

        /* browsers that support it will have multi-line ellipsis, on others it will be cut off nicely */
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
}
