/* some overloads were needed because the form doesnt look exactly like the modals */
.forgotpassword {
    background: $blue;
    height: 100vh;

    form {
        box-shadow: none;
        max-width: 690px;
    }
}

.margin {
    margin-top: 100px;
}

.modal {
    overflow: hidden;
}
