.panel {
    list-style-type: none;
    white-space: nowrap;
    width: 100%;
}

.panel {
    background: $white;
    border-radius: $border-radius-regular;

    /* header, path, indicator and the margins set on the panels section */
    height: calc(100vh - 110px);

    @supports (display: grid) {
        float: none;
        overflow-y: hidden;
    }

    @media screen and (max-width: $grid-breakpoints-lg) {
        min-width: 320px;

        /* hide all panels (look inside helpers.scss for the  css that displays .panel.active) */
        display: none;
    }
}

.itemlist {
    height: calc(100% - 30px);

    > ul {
        overflow-y: scroll;
        height: 100%;

        > li {
            height: 50px;
            border-bottom: solid 1px $shadow;
            overflow: hidden;
            white-space: nowrap;
            position: relative;
            padding: 0 10px;

            &:hover {
                background: $black;
                cursor: pointer;
                color: $white;
            }
        }
    }
}
