/* specifies minimal width for the application */
$application-min-width: 320px;

/* specifies height for main navigation bar */
$application-header-height: 70px;

$organisations-path-height: 30px;

/* heights for various parts of the detail panel */
$detailpanel-header-height: 120px;
$detailpanel-nav-height: 30px;

/* heights for various parts of the sidebar */
$sidebar-header-height: 90px;
$sidebar-header-top: 60px;
$sidebar-collapsed-dimensions: 50px;

/* z-index */
$z-index-behind: -1;
$z-index-application-back: 0;
$z-index-application-top: 50;
$z-index-alert: 100;
$z-index-modal-back: 200;
$z-index-modal-front: 400;
$z-index-modal-top: 250;

/* breakpoints */
$grid-breakpoints-xs: 0;
$grid-breakpoints-sm: 320px;
$grid-breakpoints-md: 640px;
$grid-breakpoints-lg: 960px;
$grid-breakpoints-xl: 1200px;

/* border-radius */
$border-radius-regular: 5px;
$border-radius-small: .25rem;
