.intelligence {
    background: $white;
    width: 100%;
    display: flex;
    border-radius: 5px;
    margin: 20px 0;
    padding: 20px 15px;

    > section {
        flex: 50%;
    }

    h3 {
        color: $orange;
        margin-bottom: .5rem;
    }

    p {
        margin-bottom: 1rem;
    }
}

.scoreContainer {
    > h2 {
        color: $brown;
        font-weight: normal;
        display: flex;
        justify-content: center;
    }
}
