.panels {
    margin: 10px 0 10px 10px;
    overflow: hidden;

    @supports (display: grid) {
        display: grid;
        grid-gap: 10px;

        /* this automatically fills available space with all panels that are supposed to show, with a min width of 100px */
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));

        @media screen and (max-width: $grid-breakpoints-lg) {
            grid-template-columns: 1fr;
            margin-right: 10px;
        }
    }
}

@media screen and (max-width: $grid-breakpoints-md) {
    @supports (display: grid) {
        .panels {
            width: unset
        }
    }
}
