.path {
    overflow: hidden;
    margin: 10px 10px 0;

    ul li {
        float: left;
        padding: 0 2rem;
        color: $blue;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

        &:before:not(&first-child) {
            content: '\f105';
        }
    }
}
