.path {
    overflow: hidden;
    margin: 10px 10px 0 20px;

    ul li {
        float: left;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

        a {
            color: $blue;
        }

        &:not(:first-child):before {
            content: '›';
            margin: 0 .8rem;
            color: $blue;
        }
    }
}
