.app_navigation {
    /* todo: all colours should be variables defined in style/base/colours.scss */
    background: $white;
    position: absolute;
    left: 1rem;
    width: auto;

    ul {
        list-style-type: none;
    }
}
