.app_navigation {
    /* todo: all colours should be variables defined in style/base/colours.scss */
    background: $white;
    position: absolute;
    left: 1rem;
    width: auto;

    ul {
        list-style-type: none;

        li {
            float: left;
            margin: 0 .5rem;
            display: inline-block;
            position: relative;

            &.active a {
                color: $black;
            }

            &.logo {
                /* todo: add svg logo */
                width: 60px;
                font-size: 1rem;

                @media screen and (max-width: 960px) {
                    display: none;
                }
            }

            a {
                /* todo: wrong fonts. include typekit. */
                height: 60px;
                line-height: 60px;
                vertical-align: middle;
                font-weight: 700;
                text-decoration: none;
                color: $blue;
                font-size: 1.2rem;

                @media screen and (max-width: 960px) {
                    font-size: 4px;
                }
            }
        }
    }
}
