.navigation_item {
    float: left;
    margin: 0 .5rem;
    display: inline-block;
    position: relative;

    &.active a {
        color: $black;
    }

    &.logo {
        /* todo: add svg logo */
        width: 60px;
        font-size: 1rem;

        @media screen and (max-width: 960px) {
            display: none;
        }
    }

    a {
        height: 60px;
        line-height: 60px;
        vertical-align: middle;
        color: $blue;
        text-decoration: none;

        span {
            color: $blue;
            font-size: 1.2rem;
            font-weight: 700;

            @media screen and (max-width: 960px) {
                display: none;
            }
        }
    }

    svg {
        font-size: 2rem;
    }
}
