.modal_header {
    border-bottom: 0;
    padding: 1rem 1rem 0 1rem;

    > p {
        margin: .5rem 0;
    }
}

.modal_main {
    padding-top: 2rem;
}

.errors {
    color: $signal-red;
    margin-top: 10px;
    display: block;
    min-height: 1.2rem;
}

.modal_footer {
    border-top: 0;
}
