
.messages {
    > li {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}

.message {
    margin-bottom: 1rem;
    padding-bottom: 2rem;
    border-bottom: solid 1px $beige-darken;
    display: inline-block;
    width: 100%;

    @media screen and (min-width: $grid-breakpoints-lg) {
        margin-bottom: 2rem;
    }
}

.participantsSummary {
    width: 100%;

    @media screen and (min-width: $grid-breakpoints-lg) {
        width: 50%;
        float: left;
    }

    h3 {
        color: $orange;
    }
}

.participantsData {
    width: 100%;
    box-sizing: border-box;
    padding: 0;

    @media screen and (min-width: $grid-breakpoints-lg) {
        width: 50%;
        float: left;
        padding: 1rem;
    }

    h4 {
        padding: 1rem 0;
    }

}

.participantsAction {
    text-align: left;
    float: left;
    display: inline-block;
    width: 100%;
    margin-top: 1rem;

    > a {
        float: left;
    }

    @media screen and (min-width: $grid-breakpoints-lg) {
        width: 50%;
        float: right;
        text-align: right;
        margin-top: 0;

        > a {
            float: right;
        }
    }
}

