.sidebar {
    background: $blue;
    position: fixed;
    top: $sidebar-header-top;
    right: 0;

    /* ensure width matches the grid layout specification */
    width: 25%;
    height: 100vh;

    @media screen and (max-width: $grid-breakpoints-lg) {
        display: none;
    }

    header {
        background: $black;
        height: $sidebar-header-height;
        vertical-align: middle;

        nav {
            text-align: center;
            padding-top: 1.5rem;

            ul {
                list-style-type: none;
                display: inline-block;

                li:first-child {
                    color: $white;
                    float: left;
                    height: 3rem;
                    line-height: 3rem;
                    vertical-align: middle;
                    font-size: 1rem;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }

    main {
        /* ensure content starts below the indicator */
        margin-top: 1rem;
    }
}
