.sidebar {
    background: $blue;
    position: fixed;
    top: $sidebar-header-top;
    right: 0;

    /* ensure width matches the grid layout specification (due to fixed position) */
    width: 25%;
    height: 100vh;

    header {
        background: $black;
        height: $sidebar-header-height;
        vertical-align: middle;

        .toggle {
            color: $white;
            font-size: 1rem;
            float: left;
            width: $sidebar-collapsed-dimensions;
            text-align: center;
            padding: 2rem 0;
            outline: 0;

            &:hover {
                cursor: pointer;
            }
        }

        nav {
            padding-top: 1.5rem;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
            padding-right: 2rem;

            div {
                text-align: center;
            }
        }
    }

    main {
        /* ensure content starts below the indicator */
        margin-top: 1rem;
    }
}
