.alert {
    color: $white;
    width: 100%;
    position: absolute;
    top: $application-header-height;

    @media screen and (max-width: $grid-breakpoints-lg) {

        // on responsive views, the alert sticks to the bottom to reduce clutter and wrong overlaps of the detail panel
        top: unset;
        bottom: 0;
    }

    height: 2rem;
    line-height: 2rem;
    padding: 0 1rem;
    text-align: left;
    z-index: $z-index-alert;
    background: $red;
}
