.modal_header {
    border-bottom: 0;
    padding: 1rem 1rem 0 1rem;

    > p {
        margin: .5rem 0;
    }
}

.modal_main {
    padding-top: 1rem;


    li {
        padding: 0 0 .5rem 1.5rem;
    }

    li::before {
        color: $black;
        content: "\2022";
        font-size: 1.25rem;
        left: -.75rem;
        margin-left: -8px;
        margin-top: -3px;
        position: relative;
        top: 1px;
    }
}
