.scoreBar {
    padding: 1rem .5rem 1.5rem 0;

    /* give it slightly more padding on the sides to solve the visual artifact of misalignment with the text */
    @media screen and (min-width: $grid-breakpoints-lg) {
        padding: 0 1.5rem 1.5rem 1rem;
    }
}

.legend {
    position: relative;
    height: 2rem;

    span:first-child {
        position: absolute;
        left: 0;
    }

    span:last-child {
        position: absolute;
        right: 0;
    }
}

.fill {
    fill: $red;
}

.blank {
    fill: $white;
}
