.listview {
    table-layout: fixed;
    word-wrap: break-word;

    thead th {
        background: $white;
        line-height: .9rem;
        color: $blue;
        overflow-x: hidden;
        text-overflow: ellipsis;
        font-weight: 500;
        padding: 7px 15px;
        text-align: left;
        white-space: nowrap;
        display: table-cell;

        &:first-child {
            border-left: 3px;
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
        }

        &:last-child {
            border-right: 3px;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
        }

        &:hover {
            cursor: pointer;
        }
    }

    tbody::before {
        margin-top: .3rem;
        content: '';
    }

    tbody tr {
        margin: 0 50px;
    }

    td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &:hover {
            cursor: help;
        }
    }
}
