.listview {
    table-layout: fixed;
    word-wrap: break-word;
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    overflow: hidden;

    thead {
        tr {
            margin-bottom: 20px;

            th {
                background: $white;
                line-height: .9rem;
                color: $blue;
                overflow-x: hidden;
                text-overflow: ellipsis;
                font-weight: 500;
                padding: 7px 14px;
                text-align: left;
                white-space: nowrap;
                display: table-cell;
                border: 3px solid $beige;

                &:first-child {
                    border-left: 3px;
                    border-top-left-radius: 15px;
                    border-bottom-left-radius: 15px;
                }

                &:last-child {
                    border-right: 3px;
                    border-top-right-radius: 15px;
                    border-bottom-right-radius: 15px;
                }

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }

    tbody {
        &::before {
            line-height: .5rem;
            content: '\200C';
            display: block;
        }

        tr {
            margin: 0 50px;

            td {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

                &:hover {
                    /* the question mark turned out to only confuse people. leaving it out as a test */
                    cursor: pointer;
                }
            }
        }
    }
}
