/* todo: without explicitly importing the variables they wont become available here. surely there is a better way? */
@import '../../../../../../../../../src/style/variables.scss';

.user_menu {
    position: absolute;
    right: 0;
    padding-right: 1rem;
    height: 60px;
    line-height: 60px;
    vertical-align: middle;

    &:hover {
        cursor: pointer;
    }

    li {
        float: left;
    }

    .nav_user {
        float: right;
        position: relative;
        width: auto;


        .spinner {
            svg {
                padding: 0 1rem;
                font-size: 1.5rem;
                color: #aaa;
                animation-name: example;
                animation-duration: 4s;
                animation-timing-function: linear;
                animation-iteration-count: infinite;
            }
        }

        .user_avatar {
            float: left;
            min-width: unset;
            padding: 0 .25rem;
            text-align: left;
            font-size: 1.6rem;

            .user_image_placeholder {
                vertical-align: middle;
                height: 40px;
                width: 40px;
                margin-right: .2rem;

                .orange {
                    fill: #ef7c00;
                }
            }
        }

        .user_name {
            min-width: unset;
            padding: 0 .25rem;
            text-align: left;
            float: left;
            position: relative;
            height: 60px;
            line-height: 60px;
            display: none;

            @media screen and (min-width: 960px) {
                display: inline-block;
            }

            span {
                font-weight: 700;
                color: #ef7c00;
                font-size: .9rem;
            }
        }

        .btn_foldout {
            margin-left: .4rem;
            float: left;
            height: 60px;
            line-height: 60px;
            font-weight: normal;
            text-decoration: none;
            color: $orange-darken;
            display: none;

            @media screen and (min-width: 960px) {
                display: inline-block;
            }

            &.open {
                /* todo: why is this not working? */
                color: #f00;
            }
        }
    }
}

.user_foldout {
    background: #fff;
    position: absolute;
    top: 60px;
    right: 0;
    box-shadow: 0 10px 30px -10px rgba(0,0,0,1);
    z-index: 1;

    ul {
        position: relative;
        width: unset;
        min-width: 186px;
        max-width: 186px;
        border-top: 0;
        list-style: none;
        padding: 0;
        display: inline-block;
        text-indent: .5rem;
        line-height: 57px;

        li {
            text-align: left;
            height: 57px;
            border-bottom: 1px solid #edece8;
            float: none;
            background: #fff;

            &:hover {
                background: #A5CACB;
            }

            a {
                display: inline-block;
                height: 100%;
                width: 100%;
                text-decoration: none;
                font-family: 'museo-sans', sans-serif;
                color: #000;

                &:hover {
                    color: #fff;
                }

                span {
                    margin-left: .5rem;
                }

                span:first-child {
                    margin-left: 0;
                }
            }
        }
    }
}

@keyframes example {
    0 {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}
