/* todo: this var should come from the global css, it shouldnt be defined here */
$orange-darken: #c96800;

.user_menu {
    position: absolute;
    right: 1rem;
}

.nav_user {
    float: right;
    position: relative;
    width: auto;
}

.btn_foldout {
    margin-left: .4rem;
    float: left;
    height: 60px;
    line-height: 60px;

    span {
        font-weight: normal;
        text-decoration: none;
        color: $orange-darken;
    }
}

.user_name {
    min-width: unset;
    padding: 0 .25rem;
    text-align: left;
    float: left;
    position: relative;
    height: 60px;
    line-height: 60px;

    span {
        font-weight: 700;
        color: #ef7c00;
        font-size: .9rem;
    }
}

.user_avatar {
    float: left;
    min-width: unset;
    padding: 0 .25rem;
    text-align: left;
    font-size: 1.6rem;

    .user_image_placeholder {
        vertical-align: middle;
        height: 40px;
        width: 40px;
        margin-right: .2rem;

        .orange {
            fill: #ef7c00;
        }
    }
}

.user_info {
    float: left;
    height: 60px;
    line-height: 60px;
    vertical-align: middle;
}
