.list {
    list-style-type: none;
    width: 100%;
    display: table;
    padding: 0 .5rem;
    box-sizing: border-box;

    li {
        float: left;
        padding: .2rem;
        box-sizing: border-box;
        color: $white;
        width: 25%;
        text-align: right;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &:last-child {
            width: 10%;
        }

        &:first-child {
            width: 65%;
            text-align: left;
        }
    }
}
